@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
body {
  font-size: 1rem;
  line-height: 2rem;
  font-family: "Poppins", sans-serif;
}
:root {
  --clr-primary: #fe724c;
  --clr-secondary: #26120c;
  --clr-title-text: #333;
  --clr-main-text: #707070;
  --plan-white: #fff;
  --plan-black: #000;
  --border: #dfe1e6;
  --bg-product: #fff3ef;
  --clr-icon: #59423c;
  --clr-bg-faq: #26120c;
}
.color-orange {
  color: var(--clr-primary);
}
.color-title {
  color: var(--clr-title-text);
}
.color-text {
  color: var(--clr-main-text);
}
.nav-link-mobile {
  color: var(--plan-white);
}
.sub-heading {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 0.8rem;
}
.paragraph-text {
  font-size: 0.8rem;
  letter-spacing: 0.5px;
}
.flex-rows {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  outline: none;
  border: 0;
  background-color: transparent;
  width: 4rem;
  line-height: 2;
  cursor: pointer;
}
.h2-title {
  font-size: 2rem;
  line-height: 150%;
}
.container-all {
  position: relative;
}
.img {
  display: block;
  max-width: 100%;
}
/* *Header Section */
header {
  padding: 1rem 1.5rem;
  width: 100%;
  justify-content: space-between !important;
  background-color: var(--plan-white);
  border-bottom: 1px solid #999;
}
.hamburger-menu {
  position: relative;
  width: 1.5rem;
  height: 1rem;
  z-index: 999;
  flex-direction: column;
  justify-content: space-between;
}
.nav-links-logo {
  justify-content: space-between;
  flex-basis: 20%;
  gap: 1rem;
}
.hamburger-menu.fix {
  position: fixed;
  top: 1.7rem;
  left: 1.4rem;
}
.hamburger-menu #checkbox {
  position: absolute;
  width: 40px;
  margin: auto;
  opacity: 0;
  z-index: 15;
  cursor: pointer;
}
.hamburger-menu span:nth-child(2) {
  transform-origin: 0 0;
}
.hamburger-menu span:nth-child(3) {
  transform: scale(1);
  opacity: 1;
}
.hamburger-menu span:last-child {
  transform-origin: 0 100%;
}
#checkbox:checked ~ span:nth-child(2) {
  transform: translate(2px, 0) rotate(45deg);
  background-color: red;
}
#checkbox:checked ~ span:nth-child(3) {
  transform: scale(0);
  opacity: 0;
}
#checkbox:checked ~ span:last-child {
  transform: rotate(-45deg) translate(-1px, 3px);
  background-color: red;
}
.hamburger-menu span {
  display: block;
  height: 2px;
  width: 100%;
  border-radius: 3px;
  background-color: var(--clr-primary);
  transition: 300ms;
}
.nav-desktop {
  display: none;
  justify-content: space-between !important;
  list-style: none;
}
nav {
  justify-content: space-between !important;
  flex-basis: 30%;
  gap: 20px;
}
.nav-link {
  color: var(--clr-main-text) !important;
}
nav .button-signIn {
  border: 2px solid var(--clr-primary) !important;
  width: 4rem;
  font-size: 10px;
  line-height: 1.5rem;
  letter-spacing: 0.2px;
  position: relative;
  border-radius: 3.8rem;
}
nav .btn:last-child {
  width: 2rem;
  height: 2rem;
  border-radius: 7px;
  background-color: var(--clr-primary);
  position: relative;
}
nav .btn:last-child i {
  font-size: 1rem;
  color: var(--plan-white);
}
.nav-mobile {
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 80%;
  flex-direction: column;
  justify-content: space-evenly !important;
  opacity: 0;
  transform: translateX(-100%);
  transition: 500ms;
  background-color: var(--clr-title-text);
  z-index: 3;
}
.nav-mobile.show {
  opacity: 1;
  transform: translateX(0);
}

/* 
  *Animation Section 
                    */
.nav-link,
.nav-link-mobile {
  color: var(--plan-white);
  position: relative;
  padding: 0.2rem;
  transition: 500ms;
  background-image: linear-gradient(transparent 0%, transparent 90%, var(--clr-primary) 90%, var(--clr-primary) 100%);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: right;
  transition: background-size 300ms;
}
.nav-link:focus,
.nav-link:hover,
.nav-link-mobile:focus,
.nav-link-mobile:hover {
  background-size: 100% 100%;
  background-position-x: left;
}
/* ======== 
  *Main 
    =======
            */
main {
  /* padding: 1rem 1.5rem; */
  margin-top: 4rem;
}
#bundle {
  padding: 1rem 1.5rem;
  text-align: center;
}
.card-bundle-wrapper {
  margin-top: 3.2rem;
  flex-direction: column;
}
.card-content-bundle {
  width: 20rem;
  outline: 1px solid red;
  padding: 1rem 0;
  margin-bottom: 2rem;
  border-radius: 3rem !important;
}
.card-header {
  justify-content: space-evenly;
  position: relative;
}
.card-header::after {
  content: "";
  display: block;
  max-width: 85%;
  position: absolute;
  height: 1px;
  border-radius: 3px;
  background-color: var(--border);
  bottom: -1rem;
  left: 0;
  right: 0;
  margin: auto;
}
.card-header-title {
  text-align: left;
}
.card-header-title h4 {
  font-size: 1.125rem;
}
.card-header-title h2 {
  font-size: 1.8rem;
}
.card-content-list {
  padding: 0 2.5rem;
  list-style: circle;
  text-align: left;
  margin-top: 3rem;
  font-weight: 600;
}
.card-button {
  margin-top: 2rem;
  background-color: var(--clr-primary);
  color: var(--plan-white);
  width: 6rem;
  line-height: 2.6;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: bold;
}
.card-button:hover {
  opacity: 0.9;
}
/* 
  *Commitment
              */
#commitment {
  padding: 1rem 1.5rem;
  margin-top: 4rem;
}
.commitment-title h2 {
  max-width: 15ch;
  font-size: 2rem;
  line-height: 150%;
  letter-spacing: 0.5px;
}
.commitment-title p {
  font-size: 0.8rem;
  max-width: 35ch;
}
.card-wrapper {
  margin-top: 2.3rem;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between !important;
  gap: 40px;
}
.card {
  padding: 4em 1.5em;
  flex-direction: column;
  width: 20rem;
  border-radius: 3.2rem;
  border: 1px solid var(--border);
  text-align: center;
}
.card-img {
  position: relative;
  max-width: 4.4rem;
}
.card-icon {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 10px;
  margin: auto;
  width: 2rem;
}
.text-title {
  font-size: 1.8rem;
  line-height: 2.5;
}
.card-2 {
  align-self: flex-start;
  text-align: left;
  max-width: 30ch !important;
}
.card-2 p {
  font-size: 0.8rem;
}
.card-2 .bg {
  font-size: 3rem;
  line-height: 150%;
  font-weight: bold;
}
.card-2-link {
  transition: 500ms;
  background-image: linear-gradient(transparent 0%, transparent 90%, var(--clr-primary) 90%, var(--clr-primary) 100%);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: right;
  transition: background-size 300ms;
}

/* 
  *FAQ Section 
              */
#faq {
  width: 100%;
  margin-top: 4rem;
  background-color: #26120c;
}
.faq-titles {
  padding: 1rem 1.5rem;
  text-align: center;
  color: var(--plan-white);
}
.accordion-wrapper {
  padding: 1rem 1.5rem;
}
.accordion {
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: #2f2725;
  margin-bottom: 2rem;
}
.accordion-button {
  display: flex;
  align-items: flex-start;
  background: transparent;
  outline: none;
  border: none;
  font-size: 1.1rem;
  color: var(--plan-white);
  text-align: left;
  font-weight: bold;
  line-height: 1.6;
  padding: 1rem;
  position: relative;
  cursor: pointer;
}
.accordion-button:hover {
  opacity: 0.8;
}
.accordion-button::after {
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  left: 1rem;
  right: 1rem;
  bottom: 0;
  background-color: var(--border);
}
.accordion-button i {
  margin-top: 5px;
  font-size: 1.1rem;
  font-weight: bolder;
}
.accordion-content {
  padding: 1rem;
  display: none;
  opacity: 1;
  transition: 3s;
}
.accordion-content p {
  color: #bbb;
}
/* ======== 
  *Testimonials 
    =======
            */
#testimonials {
  text-align: left;
  margin-top: 5rem;
  padding: 0 1rem 0 0;
  /* align-self: flex-start; */
}
.testimonials-title,
.testimonials-content {
  padding: 0 1.5rem;
}
.testimonials-content {
  margin-top: 3rem;
  max-width: 45ch;
}
.testimonials-title h2 {
  font-size: 2rem;
  line-height: 150%;
}
.testimonials-content h3 {
  font-size: 1.5rem;
  line-height: 8px;
  margin-bottom: 2rem;
  position: relative;
}
.testimonials-content h3::before {
  content: open-quote;
  display: block;
  font-size: 4.8rem;
  color: var(--clr-primary);
  position: absolute;
  top: -10px;
  left: 0;
}
.testimonials-figures {
  position: relative;
  z-index: 1;
  margin-top: 2.7rem;
}
.testimonials-figcaption {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem 1.3rem;
  background-color: var(--border);
  margin-bottom: -5.2rem;
  border-radius: 0 0 3rem 3rem;
  max-width: 20rem;
  min-width: 10rem;
  text-align: left;
  z-index: -2;
}
/* ======== 
  *Footer 
    =======
            */
footer {
  margin-top: 10rem;
  padding: 1rem 1.5rem;
}
.social-media-wrapper {
  max-width: 50%;
  min-width: 50%;
  justify-content: space-between !important;
}
.social-media-wrapper > a {
  font-size: 1.125rem;
  color: var(--clr-icon);
  font-weight: bold;
  cursor: pointer;
}
.social-media-wrapper > a:hover,
.social-media-wrapper > a:focus {
  opacity: 0.5;
}
footer .copyright,
.footer-links-wrapper {
  margin-top: 2rem;
}
.footer-links-wrapper,
.footer-closing-content {
  justify-content: space-between;
  align-items: flex-start;
  max-width: 70%;
}
.footer-foods-title {
  font-size: 1.2rem;
  font-weight: bold;
}
.footer-closing-content {
  max-width: 95%;
  margin-top: 1.8rem;
}

/* *Responsive Breakpoints */
@media (min-width: 576px) {
  .nav-mobile-parent,
  .nav-mobile,
  .hamburger-menu {
    display: none;
  }
  .h2-title {
    font-size: 2.2rem;
  }
  /* ======== 
  *Actual Style 
    =======
            */
  .container-all,
  main {
    display: grid;
    grid-template-columns:
      minmax(1rem, 1fr)
      repeat(2, minmax(15rem, 35rem))
      minmax(1rem, 1fr);
  }
  header {
    grid-column: 2 / 4;
    padding: 1rem 0;
  }
  main {
    grid-column: 1 / 5;
  }
  footer {
    grid-column: 2 / 4;
  }
  header {
    border-bottom: 0px;
  }
  .nav-desktop {
    display: flex;
    flex-basis: 55%;
  }
  nav .button-signIn {
    padding: 3px;
    width: 6.5rem;
    font-size: 1rem;
  }
  nav {
    flex-basis: 55%;
  }
  #bundle,
  #commitment {
    grid-column: 2 / 4;
  }
  #bundle {
    padding: 0;
  }
  .card-bundle-wrapper {
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .commitment-title h2 {
    font-size: 2.2rem;
    max-width: 100%;
  }
  .commitment-title p {
    max-width: 35ch;
    min-width: 35ch;
  }
  .card-wrapper {
    gap: 0;
    flex-direction: row;
  }
  /* ======== 
  *Question 
    =======
            */
  #faq {
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns:
      minmax(1rem, 1fr)
      repeat(2, minmax(15rem, 35rem))
      minmax(1rem, 1fr);
    justify-items: space-between !important;
    align-items: center;
    padding: 3rem 0;
  }
  .faq-titles {
    grid-column: 2 / 4;
  }
  .accordion {
    padding: 1rem 0;
  }
  .accordion-wrapper {
    grid-column: 2 / 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  /* ======== 
  *Testimonials 
    =======
            */
  #testimonials {
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns:
      minmax(1rem, 1fr)
      minmax(max-content, max-content)
      repeat(2, minmax(10rem, 15rem))
      minmax(15rem, 35rem)
      minmax(1rem, 1fr);
    justify-items: center !important;
    align-items: center;
    margin-top: -1px;
    padding: 0;
    background-color: var(--clr-bg-faq);
  }
  .testimonials-wrapper {
    grid-column: 5;
    grid-row: 1;
  }
  .testimonials-title,
  .testimonials-content {
    max-width: 30ch;
    padding: 0;
    transform: scale(0.8);
  }
  .testimonials-content h3::before {
    content: open-quote;
    display: block;
    font-size: 4.8rem;
    color: var(--clr-primary);
    position: absolute;
    top: -10px;
    left: 0;
    opacity: 0.4;
  }
  .testimonials-title h2,
  .testimonials-content h3 {
    color: var(--plan-white);
  }
  .testimonials-content {
    margin-top: 1rem;
  }
  .testimonials-figures {
    grid-column: 1 / 5;
    grid-row: 1;
    transform: scale(1);
  }
  /* ======== 
  *Footer 
    =======
            */
  footer {
    grid-column: 2 / 4;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 8rem;
  }
  .section-1 {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    align-items: flex-start !important;
  }
  .section-2 {
    flex-basis: 50%;
  }
  .footer-closing-content {
    padding-top: 5rem;
  }
}
@media (min-width: 768px) {
  nav {
    flex-basis: 50%;
  }
  .sub-heading {
    font-size: 1rem;
  }
  .paragraph-text {
    font-size: 1rem;
  }
  .main-header-title h1 {
    font-size: 3rem;
  }
  .main-header-title {
    flex-basis: 45%;
  }
  .paragraph-text {
    font-size: 1rem;
  }
  .testimonials-title {
    max-width: 50ch;
  }
  .testimonials-content {
    max-width: 45ch;
  }
  .testimonials-title h2 {
    font-size: 3rem;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .card-wrapper .card {
    width: 40rem !important;
  }
}
@media (min-width: 1700px) {
  #faq,
  #testimonials,
  #products {
    grid-column: 2 / 4;
  }
}
